%div{ :style => "display: none" }
  #new-zone= t :help_adds_new_domain
  #delete-zone= t :help_delete_domain
  #zone-edit=t :help_zone_edit
  #delete-zone=t :help_delete_zone
  #audits=t :help_audits

%h1= t :title_domains_list
- if current_user
  = form_tag( { :controller => :search, :action => :results }, { :method => :get, :class => "navbar-form navbar-left", :role=>"search" } ) do
    .form-group
      .input-group
        = text_field_tag :q, nil, class:"form-control", placeholder:"Search"
        %span.input-group-btn
          %button.btn.btn-default{type:"submit"}
            Search

%table.table.table-striped.table-hover
  = render :partial => 'domain', :collection => @domains
= will_paginate @domains, renderer: BootstrapPagination::Rails

= link_to t(:label_add_new_zone), new_domain_path, class:"btn btn-primary"
